body {
    font-family: sans-serif;
    background-color: #111;
    color: #ccc;
}

#app {
    margin: auto;
    width: fit-content;
}

.App {
    display: flex;
}

.ScoreBoard {
    margin-left: 20px;
    margin-right: 20px;
}

.ScoreBoard h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
}
th {
    text-align: left;
    font-size: 16px;
    color: #00ad5f;
    background-color: #393939;
}

th, td {
    padding: 10px;
}

th:first-child, td:first-child {
    padding-left: 20px;
}

th:last-child, td:last-child {
    padding-right: 20px;
}

td {
    font-size: 14px;
    color: #808080;
    background-color: #222222;
}